
.trainer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    background-color: #f9f9f9;
}

.trainer-container h1 {
    font-size: 2em;
    color: #333;
    margin-bottom: 10px;
}

.trainer-container h2, .trainer-container h3 {
    font-size: 1.2em;
    color: #555;
    margin: 5px 0;
}

.trainer-container h2 {
    color: #007BFF;
}

.trainer-container h3 {
    color: #28A745;
}

.clickable-email {
    cursor: pointer;
    text-decoration: underline;
}


.button11 {
    font-size: 20px;
    background: royalblue;
    color: white;
    padding: 0.7em 1em;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.2s;
    cursor: pointer;
  }
  
  .button11 span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
  }
  
  .button11 svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
  }
  
  .button11:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
  }
  
  .button11:hover svg {
    transform: translateX(1.2em) rotate(45deg) scale(1.1);
  }
  
  .button11:hover span {
    transform: translateX(5em);
  }
  
  .button11:active {
    transform: scale(0.95);
  }
  
  @keyframes fly-1 {
    from {
      transform: translateY(0.1em);
    }
  
    to {
      transform: translateY(-0.1em);
    }
  }
  

  .deleteButton {
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    background-color: transparent;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s;
    position: relative;
    overflow: hidden;
  }
  .deleteButton svg {
    width: 44%;
  }
  .deleteButton:hover {
    background-color: rgb(237, 56, 56);
    overflow: visible;
  }
  .bin path {
    transition: all 0.2s;
  }
  .deleteButton:hover .bin path {
    fill: #fff;
  }
  .deleteButton:active {
    transform: scale(0.98);
  }
  .tooltip {
    --tooltip-color: rgb(41, 41, 41);
    position: absolute;
    top: -40px;
    background-color: var(--tooltip-color);
    color: white;
    border-radius: 5px;
    font-size: 12px;
    padding: 8px 12px;
    font-weight: 600;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.105);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.5s;
  }
  .tooltip::before {
    position: absolute;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    content: "";
    background-color: var(--tooltip-color);
    bottom: -10%;
  }
  .deleteButton:hover .tooltip {
    opacity: 1;
  }
  